<app-navbar-nosearcch></app-navbar-nosearcch>

<app-getstarted-sidebar></app-getstarted-sidebar>

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header" *ngIf="isSent==false">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Hospital Setup</h3>
          <ul class="breadcrumb">
            <li>Welcome! To get started, please create your hospital account below.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="addHospitalForm" (ngSubmit)="onSubmit()">
              <div class="row" *ngIf="isSent==false">
              
                <div class="col-12">
                  <h5 class="form-title"><span>Please provide the following information to register your hospital:</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Hospital Name:<span style="color:red">*</span></label>
                    <input type="text" class="form-control" formControlName="name">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Country: <span style="color:red">*</span></label>
                    <select class="form-control" formControlName="country">
                      <option value="" disabled selected>Select Country</option>
                      <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                    
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Address: <span style="color:red">*</span></label>
                    <input type="text" class="form-control" formControlName="address">
                    
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Logo (optional):</label>
                    <input type="file" class="form-control" formControlName="logo">
                  </div>
                </div>
                <div class="col-12">
                  <button [disabled]="addHospitalForm['invalid']" type="submit" class="btn btn-primary">Get Started</button>
                </div>

               </div>

                <div col="row" *ngIf="isSent==true">
                  <div class="col-12">
                    <img class="mx-auto d-block mb-5" style="width: 50%" src="assets/img/wait.png">
                    <p>Thank you for creating your hospital account!</p>
                    <p>Your request has been submitted for review and approval by the administrator.</p>
                    <p>Please wait patiently for the confirmation. We will notify you once your account is approved.</p>
                  </div>
                </div>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Message -->
<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="informationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="informationModalLabel">Account Creation Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="mx-auto d-block mb-5" style="width: 50%" src="assets/img/wait.png">
        <p>Thank you for creating your hospital account!</p>
        <p>Your request has been submitted for review and approval by the administrator.</p>
        <p>Please wait patiently for the confirmation. We will notify you once your account is approved.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
