<app-navbar></app-navbar>
<app-sidebar></app-sidebar>


<div class="page-wrapper">
    <div class="content container-fluid">


    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Room</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Room</li>
    </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
    <a (click)="downloadCSV()" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
    <a *ngIf="role=='ADMIN'"  routerLink="/rooms/add" class="btn btn-primary"><i class="fas fa-plus"></i></a>

    </div>
    </div>
    </div>


    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-center mb-0 datatable">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Capacity</th>
            <th>Floor</th>
            <th>Availability</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <td><i class="fas fa-hotel"></i> {{ room.roomNumber }}</td>
            <td>{{ room.roomCapacity }}</td>
            <td>{{ room.floor }}</td>
            <td [style.color]="(room.roomCapacity-room.occupiedBeds) > 0 ? 'green' : 'red'">{{ room.roomCapacity-room.occupiedBeds }}</td>
            <td>
              <button class="btn btn-sm" data-toggle="modal" data-target="#roomDetailsModal" style="background-color: darkkhaki; margin-right: 3px;"
              (click)="selectRoomId(room.id)" >Details</button>
              <button *ngIf="room.roomCapacity-room.occupiedBeds > 0 && role=='RECEPTIONIST'" class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#assignRoomModal" class="btn btn-sm bg-success-light mr-2" (click)="assignRoom(); selectRoomId(room.id)">Assign</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


    <footer>
    <p>     </p>
    </footer>


    </div>
<!---->

    <!-- Assign Room Modal -->
<div class="modal fade" id="assignRoomModal" tabindex="-1" role="dialog" aria-labelledby="assignRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignRoomModalLabel">Assign Room number #101</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
          <!-- [formGroup]="addRoomForm" (submit)="onSubmit()" -->
          <form [formGroup]="assignRoomForm" (submit)="onSubmit()">
       
            <div class="row">
            <div class="col-12">
            <h5 class="form-title"><span>Room Information</span></h5>
            </div>
            
            <div class="col-12 col-sm-12">
              <div class="form-group">
              <label>Patient Name<span style="color:red">*</span></label>
              
              <select class="form-control" formControlName="patient" (change)="onPatientSelected()">
                <option value="">Select Patient</option>
                <option *ngFor="let patient of patients" [value]="patient.id">{{patient.firstName}}</option>
              </select>
              </div>
            </div>
          
              <div class="col-12 col-sm-6">
                <div class="form-group">
                <label>Admission Date : <span style="color:red">*</span></label>
                <input class="form-control" type="date" formControlName="admissionDate">
                </div>
               </div>
        
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                    <label>Discharge Date: <span style="color:red">*</span></label>
                    <input class="form-control" type="date" formControlName="dischargeDate">
                    </div>
                </div>
              
        
                <div class="col-12 col-sm-12">
                    <div class="form-group">
                    <label>Additional Notes: </label>
                    <textarea class="form-control" formControlName="additionalNotes"></textarea>
                    </div>
            </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" [disabled]="assignRoomForm.invalid" >Assign Room</button>                                <!-- [disabled]="addRoomForm.invalid" -->
            </div>
            </form>
        
      </div>
      
    </div>
  </div>
</div>



<!--------------------------------->
<!-- Room Details Modal -->
<div class="modal fade" id="roomDetailsModal" tabindex="-1" role="dialog" aria-labelledby="roomDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roomDetailsModalLabel">Room Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="form-title"><span>Room Information</span></h5>
        <div class="row">
          <div class="col-12">
            <p><strong>Room Number:</strong> {{selectedRoom?.roomNumber}}</p>
            <p><strong>Capacity:</strong> {{selectedRoom?.roomCapacity}}</p>
            <p><strong>Occupied Beds:</strong> {{selectedRoom?.occupiedBeds}}</p>
          </div>
        </div>
        <h5 class="form-title"><span>Patients</span></h5>
        <div class="row">
          <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4"><strong>Patient Name</strong></div>
                  <div class="col-4"><strong>Admission Date</strong></div>
                  <div class="col-4"><strong>Discharge Date</strong></div>
                </div>
              </li>
              <li class="list-group-item" *ngFor="let assignment of assignments">
                <div class="row">
                  <div class="col-4">{{ assignment.patient.firstName }} {{ assignment.patient.lastName }}</div>
                  <div class="col-4">{{ assignment.admissionDate }}</div>
                  <div class="col-4">{{ assignment.dischargeDate }}</div>
                </div>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
