<app-navbar></app-navbar>
<app-sidebar></app-sidebar>


<div class="page-wrapper">
    <div class="content container-fluid">


    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Patients</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Patients</li>
    </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
    <a class="btn btn-outline-primary mr-2" (click)="downloadPatients()"><i class="fas fa-download"></i> Download</a>
    <a *ngIf="role=='ADMIN' || role=='RECEPTIONIST'" routerLink="/patients/add" class="btn btn-primary"><i class="fas fa-plus"></i></a>

    </div>
    </div>
    </div>


    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-center mb-0 datatable">
        <thead>
          <tr>
           
            <th>Full Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Contact Number</th>
            <th>Emergency Contact</th>
            <th>Blood Type</th>
            <th>Status</th> <!-- New column for displaying status -->
            <th *ngIf="role=='ADMIN' || role=='RECEPTIONIST'" class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients">
            <td>
              <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{patient.image_url}}" alt="User Image"></a>
              {{ patient.firstName }} {{ patient.lastName }}
            </td>
          
            <td>{{ patient.gender }}</td>
            <td>{{ patient.date_of_birth }}</td>
            <td>{{ patient.phoneNumber }}</td>
            <td>{{ patient.emergencyContact }}</td>
            <td>{{ patient.bloodType }}</td>
            <td>{{ patient.status }}</td> <!-- Example status, replace with dynamic data -->
            <td *ngIf="role=='ADMIN' || role=='RECEPTIONIST'" class="text-right">
              <div class="actions">
                <button class="btn btn-sm bg-success-light mr-2" data-toggle="modal" (click)="setPatientNameAndId(patient.firstName, patient.id)" data-target="#editPatientModal">
                  <i class="fas fa-pen"></i>
                </button>                              <!--(click)="changeStatus(patient)"-->
                <button class="btn btn-sm bg-primary-light" (click)="setPatientNameAndId(patient.firstName, patient.id)" data-toggle="modal" data-target="#changePatientStatusModal">Change Status</button> <!-- Button to change status -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      
      
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


    <footer>
    <p>     </p>
    </footer>


    </div>


    
<!--------------- Update a patient ------------------>

<div class="modal fade" id="editPatientModal" tabindex="-1" role="dialog" aria-labelledby="editPatientModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPatientModalLabel">Edit Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form  [formGroup]="updatePatientForm" (submit)="onSubmit()">
               
              <div class="row">
                 <div class="col-12">
                    <h5 class="form-title"><span>Patient Information</span></h5>
                 </div>
                 <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>First Name<span style="color:red">*</span></label>
                    <input type="text" name="firstname"  class="form-control"
                    formControlName="firstName">
                    
                 </div>
                 </div>
                 <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Last Name<span style="color:red">*</span></label>
                    <input type="text" name="lastname"  class="form-control"
                    formControlName="lastName">
                   
                 </div>
                 </div>
                 <div class="col-12 col-sm-6">
                  <div class="form-group">
                  <label>Gender<span style="color:red">*</span></label>
                  <select class="form-control"
                   formControlName="gender">
                  <option>MALE</option>
                  <option>FEMALE</option>
                  </select>
                  
                  </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                    <label>Date of Birth<span style="color:red">*</span></label>
                    <input type="date" formControlName="dob" class="form-control"
                    >
                    
                    </div>
                    </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                  <label> Contact Number: <span style="color:red">*</span></label>
                  <input type="text" formControlName="phoneNumber"
                  class="form-control"
                  >
                 
                  </div>
                  </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                  <label>Emergency Contact: <span style="color:red">*</span></label>
                  <input type="text" formControlName="EmergencyContact"
                  class="form-control"
                  >
                 
                  </div>
                  </div>
                  
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                      <label>Blood Type : <span style="color:red">*</span></label>
                      <select class="form-control" formControlName="BloodType" >
                        <!--[(ngModel)]="selectedBloodType"-->
                        <option value="A+">Blood Type A+</option>
                        <option value="A-">Blood Type A-</option>
                        <option value="B+">Blood Type B+</option>
                        <option value="B-">Blood Type B-</option>
                        <option value="AB+">Blood Type AB+</option>
                        <option value="AB-">Blood Type AB-</option>
                        <option value="O+">Blood Type O+</option>
                        <option value="O-">Blood Type O-</option>
                      </select>
                    
                      </div>
                      </div> 

                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Patient Image (optional) : </label>
                           <input type="file" formControlName="profile"  class="form-control">
                        </div>
                     </div>
                     
                    <div class="col-12 col-sm-12">
                      <div class="form-group">
                  
                        <label for="medicalHistory">Medical History:</label>
                        <textarea formControlName="medicalHistory" class="form-control" id="medicalHistory"  rows="5"></textarea>
                  
                      </div>
                      </div>
                     
                 
                 <div class="col-12">
                    <button type="submit" [disabled]="updatePatientForm.invalid" class="btn btn-primary"  >Submit</button>                         
                 </div>
              </div>
           </form>
          </div>
        </div>
      </div>
    </div>
    
  

    <div class="modal fade" id="changePatientStatusModal" tabindex="-1" role="dialog" aria-labelledby="changePatientStatusModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changePatientStatusModalLabel">Changer l'état du patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="updatePatientStatusForm" (submit)="SaveStatus()">
              <div class="form-group">
                <label for="patientStatus">Patient Status: :</label>
                <select class="form-control" formControlName="status">
                  <option value="PENDING">PENDING</option>
                  <option value="ADMITTED">ADMITTED</option>
                  <option value="DISCHARGED">DISCHARGED</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    