<app-navbar></app-navbar>
<app-sidebar></app-sidebar>


<div class="page-wrapper">
    <div class="content container-fluid">


    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Patients</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
    <li class="breadcrumb-item active">Patients</li>
    </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
    <a class="btn btn-outline-primary mr-2" (click)="downloadPatients()"><i class="fas fa-download"></i> Download</a>
    <a routerLink="/patients/add" class="btn btn-primary"><i class="fas fa-plus"></i></a>

    </div>
    </div>
    </div>


    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
    <div class="table-responsive">
    <table class="table table-hover table-center mb-0 datatable">
    <thead>
      <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Contact Number</th>
            <th>Emergency Contact</th>
            <th>Blood Type</th>
            <th *ngIf="role=='ADMIN'" class="text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
            <td>John</td>
            <td>Doe</td>
            <td>Male</td>
            <td>1990-01-01</td>
            <td>123456789</td>
            <td>987654321</td>
            <td>Blood Type A+</td>
            
            <td *ngIf="role=='ADMIN'" class="text-right">
                  <div class="actions">
                    <button class="btn btn-sm bg-success-light mr-2" data-toggle="modal" data-target="#editPatientModal">
                      <i class="fas fa-pen"></i>
                    </button>
                    
          </div>
           </td>
      </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


    <footer>
    <p>Copyright © 2023 HMS.</p>
    </footer>


    </div>


    
<!--------------- Update a patient ------------------>

<div class="modal fade" id="editPatientModal" tabindex="-1" role="dialog" aria-labelledby="editPatientModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPatientModalLabel">Edit Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
                  <div class="row">
                        <div class="col-12">
                          <h5 class="form-title"><span>Patient Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>First Name<span style="color:red">*</span></label>
                            <input type="text" name="firstname" class="form-control" formControlName="firstname">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Last Name<span style="color:red">*</span></label>
                            <input type="text" name="lastname" class="form-control" formControlName="lastname">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Gender<span style="color:red">*</span></label>
                            <select class="form-control" formControlName="gender">
                              <option>Male</option>
                              <option>Female</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Date of Birth<span style="color:red">*</span></label>
                            <input type="date" formControlName="dob" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Contact Number: <span style="color:red">*</span></label>
                            <input type="text" formControlName="email" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Emergency Contact: <span style="color:red">*</span></label>
                            <input type="text" formControlName="mobileNumber" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Blood Type : <span style="color:red">*</span></label>
                            <select class="form-control">
                              <option value="A+">Blood Type A+</option>
                              <option value="A-">Blood Type A-</option>
                              <option value="B+">Blood Type B+</option>
                              <option value="B-">Blood Type B-</option>
                              <option value="AB+">Blood Type AB+</option>
                              <option value="AB-">Blood Type AB-</option>
                              <option value="O+">Blood Type O+</option>
                              <option value="O-">Blood Type O-</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label>Patient Image (optional) :</label>
                            <input type="file" required class="form-control">
                          </div>
                        </div>
                        <div class="col-12 col-sm-12">
                          <div class="form-group">
                            <label for="medicalHistory">Medical History:</label>
                            <textarea class="form-control" id="medicalHistory"  rows="5"></textarea>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                      </div>                      
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    