<app-navbar-nosearcch>
</app-navbar-nosearcch>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Create an appointment</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a routerLink="/appointments">Appointments</a></li>
                   <li class="breadcrumb-item active">Add appointment</li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="card">
                <div class="card-body">
                   <form [formGroup]="addAppointmentForm" (submit)="onSubmit()" >
                     <!---->
                      <div class="row">
                         <div class="col-12">
                            <h5 class="form-title"><span>Please fill out the appointment details below : </span></h5>
                         </div>
                         <div class="col-12 col-sm-6">
                           <div class="form-group">
                             <label>Doctor Name: <span style="color:red">*</span></label>
                             <select class="form-control" required formControlName="doctorsName" (change)="onDoctorSelected()">
                               <option *ngFor="let doctor of doctors"  [value]="doctor.id">Dr. {{ doctor.firstName }} {{doctor.lastName}}</option>
                             </select>
                           </div>
                         </div>
                         <div class="col-12 col-sm-6">
                           <div class="form-group">
                             <label>Patient Name: <span style="color:red">*</span></label>
                             <select required class="form-control" formControlName="patientsName" (change)="onPatientSelected()">
                               <option *ngFor="let patient of patients" [value]="patient.id">{{ patient.firstName }} {{ patient.lastName }}</option>
                             </select>
                           </div>
                         </div>
                         
                         <div class="col-12 col-sm-6">
                           <div class="form-group">
                             <label>Date: <span style="color:red">*</span></label>
                             <input required type="date" formControlName="dateAppointment" class="form-control">
                           </div>
                         </div>
                         
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label for="consultancyFees">Consultancy Fees:</label>
                                    <input required type="number" formControlName="consultancyFees" class="form-control">
                                
                                </div>
                                </div>
  
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                          <label>Time : <span style="color:red">*</span></label>
                          <input required type="time" formControlName="timeAppointment"
                          class="form-control"
                          >
                          
                          </div>
                          </div>
  
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                            <label>Appointment Reason: <span style="color:red">*</span></label>
                            <input required type="text" formControlName="reason"
                            class="form-control" 
                             >
                          
                            </div>
                            </div>

                            <div class="col-12 col-sm-12">
                                <div class="form-group">
                                
                                <label for="additionalInfo">Additional Information:</label>
                                <textarea id="additionalInfo" formControlName="additionalInfo" class="form-control"></textarea>
                               
                                </div>
                                </div>
                            
                        
                         <div class="col-12">
                            <button type="submit" [disabled]="addAppointmentForm.invalid" class="btn btn-primary">Create Appointment</button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>