<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row">
            <div class="col-sm-12">
               <h3 class="page-title">Welcome {{user?.first_name || user?.firstname || 'unkown' }}!</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-one w-100">
               <div class="card-body">
                  <div class="db-widgets d-flex justify-content-between align-items-center">
                     <div class="db-icon">
                        <i class="fas fa-user-md"></i>
                     </div>
                     <div class="db-info">
                        <h3>10</h3>
                        <h6>Total doctors</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-two w-100">
               <div class="card-body">
                  <div class="db-widgets d-flex justify-content-between align-items-center">
                     <div class="db-icon">
                        <i class="fas fa-user-injured"></i>
                        
                     </div>
                     <div class="db-info">
                        <h3>50</h3>
                        <h6>Total Patients</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-four w-100">
               <div class="card-body">
                  <div class="db-widgets d-flex justify-content-between align-items-center">
                     <div class="db-icon">
                        <i class="fa fa-calendar"></i>
                     </div>
                     <div class="db-info">
                        <h3>100</h3>
                        <h6>Total Appointments</h6>

                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-three w-100">
               <div class="card-body">
                  <div class="db-widgets d-flex justify-content-between align-items-center">
                     <div class="db-icon">
                        <i class="fas fa-building"></i>
                     </div>
                     <div class="db-info">
                        <h3>30</h3>
                        <h6>Total Rooms</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <div class="row">
         <div class="col-md-12 col-lg-12">
            <div class="card card-chart">
               <div class="card-header">
                  <div class="row align-items-center">
                     <div class="col-6">
                        <h5 class="card-title">appointments Overview</h5>
                        <p class="mt-3">*Total appointments : 7020</p>
                     </div>
                     <div class="col-6">
                        <ul class="list-inline-group text-right mb-0 pl-0">
                           <li class="list-inline-item">
                              
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="card-body">
                   <app-overview-chart></app-overview-chart>
               </div>
            </div>
         </div>
         
      </div>


   </div>
   <footer>
      <p>Copyright © 2023 HMS.</p>
   </footer>
</div>
