<app-navbar-nosearcch>
</app-navbar-nosearcch>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
    <div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Room Management</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="branch.html">Room</a></li>
    <li class="breadcrumb-item active">Assign Room</li>
    </ul>
    </div>
    </div>
    </div>


    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    <form [formGroup]="assignRoomForm" (submit)="onSubmit()">
       
    <div class="row">
    <div class="col-12">
    <h5 class="form-title"><span>Room Information</span></h5>
    </div>
    <div class="col-12 col-sm-6">
    <div class="form-group">
    <label>Room Number<span style="color:red">*</span></label>
    <select class="form-control" formControlName="room" (change)="onRoomSelected()">
      <option value="">Select Room</option>
      <option *ngFor="let room of rooms" [value]="room.id">{{room.roomNumber}}</option>
     </select>                 
    </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="form-group">
      <label>Patient Name<span style="color:red">*</span></label>
      
      <select class="form-control" formControlName="patient" (change)="onPatientSelected()">
        <option value="">Select Patient</option>
        <option *ngFor="let patient of patients" [value]="patient.id">{{patient.firstName}}</option>
      </select>

      
      </div>
      </div>
  
      <div class="col-12 col-sm-6">
        <div class="form-group">
        <label>Admission Date : <span style="color:red">*</span></label>
        <input class="form-control" type="date" formControlName="admissionDate">
        </div>
       </div>

        <div class="col-12 col-sm-6">
            <div class="form-group">
            <label>Discharge Date: <span style="color:red">*</span></label>
            <input class="form-control" type="date" formControlName="dischargeDate">
            </div>
        </div>
      



            
        <div class="col-12 col-sm-12">
            <div class="form-group">
            <label>Additional Notes: </label>
            <textarea class="form-control" formControlName="additionalNotes"></textarea>
            </div>
    </div>


      
    <div class="col-12">
    <button type="submit" class="btn btn-primary" [disabled]="assignRoomForm.invalid" >assign Room</button>
                            
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


