<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">List of Doctors</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Doctors</li>
          </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
          <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
          <a *ngIf="role=='ADMIN'" routerLink="/AddReceptionist" class="btn btn-primary"><i class="fas fa-plus"></i></a>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-center mb-0 datatable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Specialty</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th *ngIf="role=='ADMIN'" class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                
                  <tr *ngFor="let doctor of doctors">
                    <td>
                      <h2 class="table-avatar">
                        <a href="doctor-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{doctor.image_url}}" alt="User Image"></a>
                        <a href="doctor-details.html">Dr. {{doctor?.firstName}} {{doctor?.lastName}}</a>
                      </h2>
                    </td>
                    <td>{{doctor?.speciality}}</td>
                    <td>{{doctor?.phoneNumber}}</td>
                    <td>{{doctor?.email}}</td>
                    <td>{{doctor?.location}}</td>
                    <td *ngIf="role=='ADMIN'" class="text-right">
                      <div class="actions">
                        <button data-toggle="modal" data-target="#editDoctorModal" class="btn btn-sm bg-success-light mr-2" (click)="setDoctorNameAndId(doctor.firstName, doctor.id)">
                          <i class="fas fa-pen"></i>
                        </button>
                        <button data-toggle="modal" data-target="#confirmationModal" class="btn btn-sm bg-danger-light" (click)="setDoctorNameAndId(doctor.firstName, doctor.id)">  <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>Copyright © 2023 SMART ENSIAS.</p>
  </footer>
  
</div>


<!----------Delete a Doctor --------------->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete {{doctorName}}?</p>
        <img src="assets/img/areYouSure.png" style="width:40%" class="img-fluid">
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<!--------------- Update a doctor ------------------>

<!-- Modal -->
<div class="modal fade" id="editDoctorModal" tabindex="-1" role="dialog" aria-labelledby="editDoctorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDoctorModalLabel">Edit Doctor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
          <div class="row">
            <div class="col-sm-12">
               <div class="card">
                  <div class="card-body">
                     <form  (ngSubmit)="onSubmit()" [formGroup]="addDoctorForm">
                        <div class="row">
                           <div class="col-12">
                              <h5 class="form-title"><span>Doctor Information</span></h5>
                           </div>
                           <div class="col-12 col-sm-6">
                            <div class="form-group">
                              <label>First Name<span style="color:red">*</span></label>
                              <input type="text" name="firstname"  class="form-control"
                              formControlName="firstname">
                              
                            
                           </div>
                           </div>
                           <div class="col-12 col-sm-6">
                            <div class="form-group">
                              <label>Last Name<span style="color:red">*</span></label>
                              <input type="text" name="lastname"  class="form-control"
                              formControlName="lastname" >
                              <!--formControlName="lastname"-->
                              
                           </div>
                           </div>
                           <div class="col-12 col-sm-6">
                            <div class="form-group">
                            <label>Gender<span style="color:red">*</span></label>
                            <select class="form-control"
                            formControlName="gender">
                             <!--formControlName="gender"-->
                            <option>MALE</option>
                            <option>FEMALE</option>
                            </select>
                            
                            </div>
                            </div>
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                              <label>Date of Birth<span style="color:red">*</span></label>
                              <input type="date"  class="form-control"
                              formControlName="dob" >
                              <!--formControlName="dob"-->
                              
                              </div>
                              </div>
    
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                            <label>Email<span style="color:red">*</span></label>
                            <input type="text" 
                            class="form-control"
                            formControlName="email" >
                            <!--formControlName="email"-->
                           
                            </div>
                            </div>
    
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                            <label>MobileNumber<span style="color:red">*</span></label>
                            <input type="text" 
                            class="form-control"
                            formControlName="mobileNumber"
                             >
                             <!--formControlName="mobileNumber"-->
                           
                            </div>
                            </div>
    
                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                              <label>Specialty: <span style="color:red">*</span></label>
                              <input type="text" 
                              class="form-control" formControlName="specialty"
        
                              >
                              <!--formControlName="codeApogee"-->
                              
                              </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                <div class="form-group">
                                  <label>Location : <span style="color:red">*</span></label>
                                  <input type="text" class="form-control" formControlName="location">
                                  <!--formControlName="field"-->
                                </div>
                              </div>
                              
                      
                           <div class="col-12">
                              <button type="submit" [disabled]="addDoctorForm.invalid" class="btn btn-primary" >Update</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
          
       
        
      </div>
    </div>
  </div>
</div>




